
$black: #000
$white: #fff
$font-dark: #404040

//         __   ___         __             ___ ___ ___  ___ 
// | |\ | |  \ |__  \_/    |__)  /\  |    |__   |   |  |__  
// | | \| |__/ |___ / \    |    /~~\ |___ |___  |   |  |___ 

$lime: #e0fc83
$lemon: #faf673
$mustard: #bfaa22

$blood: #a40031
$red: #d60031
$hotpink: #f06

$green: #57ab71

$storm: #3b4557
$blu: #2c51a2
$ateal: #316ea4

$purple: #672f81
$royal: #794290

$l-blue: #7cc5d4
$l-sky: #b5f5ff
$ice: #d8faff
$d-ice: #ccf0ff
$m-grey: #808080
$d-grey: #333

$vd-teal: #1c5661
$d-teal: #1c6779
$m-teal: #227c7e
$l-teal: #339b9e
$l-yel-teal: #32998f


$all-200ms: all 200ms ease-in-out 0s
$col-200ms: color 200ms ease-in-out 0s
