/** 
 ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 **/

/*!* ## FONTS **/

@font-face
  font-family: futura-heavy
  font-weight: normal
  src: url('../Fonts/futura-heavy-bt.ttf?#iefix') format('truetype'), url('../Fonts/futura-heavy-bt.ttf') format('truetype')

@font-face
  font-family: futura-light
  font-weight: 100
  src: url('../Fonts/futura-light-bt.ttf?#iefix') format('truetype'), url('../Fonts/futura-light-bt.ttf') format('truetype')

@font-face
  font-family: futura-medium
  font-weight: normal
  src: url('../Fonts/futura-medium.ttf?#iefix') format('truetype'), url('../Fonts/futura-medium.ttf') format('truetype')

@font-face
  font-family: gill-sans
  font-weight: normal
  src: url('../Fonts/Gill Sans MT.ttf?#iefix') format('truetype'), url('../Fonts/Gill Sans MT.ttf') format('truetype')

@font-face
  font-family: gill-italic
  font-weight: normal
  src: url('../Fonts/Gill Sans MT Italic.ttf?#iefix') format('truetype'), url('../Fonts/Gill Sans MT Italic.ttf') format('truetype')

@font-face
  font-family: gill-bold-italic
  font-weight: bold
  src: url('../Fonts/Gill Sans MT Bold Italic.ttf?#iefix') format('truetype'), url('../Fonts/Gill Sans MT Bold Italic.ttf') format('truetype')

@font-face
  font-family: gill-bold
  font-weight: bold
  src: url('../Fonts/Gill Sans MT Bold.ttf?#iefix') format('truetype'), url('../Fonts/Gill Sans MT Bold.ttf') format('truetype')

// h1, h2, h3, h4, h5, h6
//   font-family: 'futura-medium',Helvetica,Arial,Lucida,sans-serif

// body
//   font-family: 'gill-sans',Helvetica,Arial,Lucida,sans-serif
